
.header {
  background-color: rgb(100, 100, 100);
  width: 100%;
  hight: 20%;
  position: absolute;
  top: 0%;
  color: blue;
  text-align: center;
}

.footer {
  width: 100%;
  hight: 20%;
  position: absolute;
  bottom: 0%;
  color: red;
  text-transform: capitalize;
  text-align: center;
  background-color: lightblue;
}

