
.header {
  border: 1px dotted red;
  width: 100%;
  height: 20%;
  margin-top: 0%;
  color: blue;
  text-align: center;
}

.footer {
  width: 100%;
  height: 10%;
  margin-bottom: 1px;
  color: red;
  text-transform: capitalize;
  text-align: center;
  background-color: lightblue;
}

.sec-intro {
  margin-top: 30%;
  text-align: center;
  border: 1px dotted green;
}

.main-text {
  border: 1px dotted green;
  margin: 1%;

}